[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fycharts = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
sqlalchemy = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.8"
